body{
  background: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRDHLISAkVlxiEPhXAZsfwX_Z4kDyqCPdtLig&usqp=CAU');
  background-size:100vw 100vh;
}


.container-1{
    margin: 10vh auto;
    width: 75%;
   
    border-radius: 10px;
    min-height: 500px;
    text-align: center;
}
.grid{
   
    display: grid;
    min-height: 60vh;
    width: 75%;
    margin: auto auto;
    flex-wrap: wrap;
    grid-template-columns: auto auto auto auto auto auto auto;
    grid-template-rows: auto auto auto auto auto auto  ;

}

.player-one{
    background-color: red;
    border-radius: 100%;
}
.player-two{
    background-color: blue;
    border-radius:100% ;
}
.grid div{
    border:  1px solid black;
    margin: 2px;
    
}
#42,#43,#44,#45,#46,#47,#48{
    display: none;

}

#valid{
    color: red;
}
